@use '../global/' as g;
.c-button {
  position: relative;
  padding: 1rem 3rem;
  background: g.$main_color;
  color: g.$main_color_cont;
  font-weight: bold;
}

.c-button::after {
  content: '>';
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}